@media only screen and (max-width: 785px) and (min-width: 240px) {

    .full {
      height:100vh;
    }

    html, body {
      height: 100vh;
      margin: 0px;
      width: 100vw;
    }

    #gradient{
        /* Rectangle: */
      background-image: linear-gradient(135deg, #1F2BFF 0%, #0F0D18 100%);
      height: 100%;
      overflow: hidden;
    }

    p, h1, h2, h3, h4, h5, h6, li {
      font-family: 'Source Sans Pro', sans-serif;
    }

    h1 {
      color: white;
      text-align: center;
      font-weight: 300;
      font-size: 30px;
      padding-top: 60%;
    }

    h2 {
      color: white;
      font-size: 19px;
    }

    h3 {
      color: white;
      font-size: 20px;
      font-weight: 700;
      text-align: center;
    }

    h4 {
      text-align: center;
    }

    h3#title-green {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 40px;
      font-weight: 500;
      text-align: center;
      color: #FFFFFF;
      padding-left: 0px;
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
    }

    h4#waste {
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 300;
      font-size: 18px;
      color: white;
      text-align: center;
      -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
    }

    h5 {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 30px;
      color: #FFFFFF;
      letter-spacing: 0;
      -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
        text-align: center;
    }

    h6 {
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 700;
      font-size: 18px;
      color: white;
      text-align: center;
      -webkit-margin-before: 0px;
        -webkit-margin-after: 0px;
    }

    .left {
      max-width: 20%;
      float: left;
      padding-left: 0%;
    }

    .right {
      max-width: 20%;
      float: right;
      padding-right: 0%;
    }

    button {
      -webkit-border-radius: 8;
      -moz-border-radius: 8;
      border-radius: 8px;
      font-family: 'Source Sans Pro', sans-serif;
      color: #ffffff;
      font-weight: 600;
      font-size: 30px;
      padding: 10px 40px 10px 40px;
      border: solid #ffffff 2px;
      text-decoration: none;
      background-color: transparent;
      display: block;
      margin: 0 auto;
    }

    p#scroll {
        white-space: nowrap;
        position: relative;
        font-size: 40px;
        font-weight: 100;
        font-family: 'Source Sans Pro', sans-serif;
        color: white;
        padding-right: 20%;
      }

    .scrolling-words {
        overflow: hidden;
        height: 50px;
        padding-left: 10%;
        padding-top: 40px;
        text-align: center;
        margin: 0 auto;
      }

      .scrolling-words  p {
        margin: 0 0 30px;
        padding-top: 5px;
        white-space: nowrap;
        -webkit-animation: move 8s 1s infinite;
        -moz-animation: move 8s 1s infinite;
        -o-animation: move 8s 1s infinite;
        -ms-animation: move 8s 1s infinite;
        animation: move 8s 1s infinite;
        font-size: 43px;
        letter-spacing: 1px;
      }

      @-moz-keyframes move {
        0%  { top:  0px;   }
        25% { top: -110px;  }
        50% { top: -200px; }
        75% { top: -280px; }
        100% { top: -0px; }
      }

      @-o-keyframes move {
        0%  { top:  0px;   }
        25% { top: -110px;  }
        50% { top: -200px; }
        75% { top: -280px; }
        100% { top: -0px; }
      }

     @-ms-keyframes move {
        0%  { top:  0px;   }
        25% { top: -110px;  }
        50% { top: -200px; }
        75% { top: -280px; }
        100% { top: -0px; }
      }

      @-webkit-keyframes move {
        0%  { top:  0px;   }
        25% { top: -110px;  }
        50% { top: -200px; }
        75% { top: -280px; }
        100% { top: -0px; }
      }

      @keyframes move {
        0%  { top:  0px;   }
        25% { top: -110px;  }
        50% { top: -200px; }
        75% { top: -280px; }
        100% { top: -0px; }
      }

    .head {
      padding-top: 80px;
      text-align: center;
      margin:0;
    }

    p {
      font-size: 20px;
        font-weight: 100;
        font-family: 'Source Sans Pro', sans-serif;
        color: white;
        margin: 0 auto;
        padding-left: 10%;
    }

    p.text {
      padding-right: 10%;
      text-align: center;
      line-height: 28px;
    }

    #baby  {
      background-image: url('../assets/BG.png');
      background-size: cover;
      width: 100%;
      height: 100%;
    }

    #green {
      background-image: linear-gradient(135deg, #1DCFA3 0%, #1DCFA3 28%, #86CF1D 100%);
      height: 850px;
    }

    #blue {
      background: #48B3D3;
      height: 800px;
    }

    .content-input {
      position: relative;
      margin-bottom: 10px;
    }

    .preinput{
      color: #333232;
      font-size: 18px;
      padding: 0 10px;
      position: absolute;
      top: 50%;
      z-index: 1;
      left: 0;
      transform: translateY(-50%);
    }


    .donate-amount {
       height: 40px;
       font-size: 24px;
       color: #0d5cb6;
       font-family: 'Source Sans Pro', sans-serif;
    }

    .feedback-input {
      color:white;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight:500;
      font-size: 18px;
      border-radius: 5px;
      line-height: 22px;
      background-color: transparent;
      border:2px solid white;
      transition: all 0.3s;
      padding: 13px;
      margin-bottom: 15px;
      width:100%;
      box-sizing: border-box;
      outline:0;
    }

    ::-webkit-input-placeholder {
      color: white;
    }

    [type="submit"] {
      font-family: 'Source Sans Pro', sans-serif;
      width: 100%;
      background:white;
      border: 2px solid white;
      cursor:pointer;
      color: #48B3D3;
      font-size:18px;
      padding-top:10px;
      padding-bottom:10px;
      transition: all 0.3s;
      margin-top:-4px;
      font-weight:700;
      border-radius: 5px;
    }
    [type="submit"]:hover { 
      background:white;
      border: 2px solid white;
      border-radius: 5px;
      }

    h6#no-space {
      padding-left: 0;
    }

    p#list-ben {
      line-height: 30px;
      padding-left: 0;
    }

    #donate {
      padding-left: 10%;
      padding-right: 10%;
      text-align: center;
    }

    .feedback-input-amount {
      color:white;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight:500;
      font-size: 18px;
      border-radius: 5px;
      line-height: 22px;
      background-color: transparent;
      border:2px solid white;
      transition: all 0.3s;
      padding: 13px;
      width:25%;
      box-sizing: border-box;
      outline:0;
      text-align: center;
      align-items: center;
    }

    #donate-btn {
      font-family: 'Source Sans Pro', sans-serif;
      width: 50%;
      background:white;
      border: 2px solid white;
      cursor:pointer;
      color: #48B3D3;
      font-size:18px;
      transition: all 0.3s;
      font-weight:700;
      border-radius: 5px;
    }

    #left-help {
      text-align: center;
    }

    #contact-right {
      max-width: 100%;
      padding-right: 10%;
      padding-left: 10%;
      padding-top: 30px;
    }

    #scrolldown {
      bottom: 40px;
      height: 100px;
      margin-left: -50px;
      position: absolute;
      left: 50%;
      text-align: center;
      width: 100px;
      z-index: 100;
    }
    #scrolldown p {
      font-family: 'Source Sans Pro', sans-serif;
      animation-duration: 2s;
      animation-fill-mode: both;
      animation-iteration-count: infinite;
      animation-name: scroll;
      color: #fff;
    }
    #scrolldown > p {
      text-transform: uppercase;
      text-indent: 3px;
    }
    .mouse {
      border: 2px solid #fff;
      border-radius: 13px;
      display: block;
      height: 46px;
      left: 50%;
      margin: 10px 0 0 -13px;
      position: absolute;
      width: 26px;
    }
    .mouse span {
      display: block;
      font-size: 1.5em;
      margin: 6px;
      padding-right: 7px;
    }
    @keyframes scroll {
      0% {
        opacity: 1;
        transform: translateY(0px);
      }
      100% {
        opacity: 0;
        transform: translateY(10px);
      }
    }

    #right-help {
      padding-right: 17%;
      padding-left: 10%;
    }

    #right-help p {
      text-align: center;
    }

    #left-help {
      padding-left: 10%;
      padding-right: 17%;
    }

    #title-green {
      padding-top: 20px;
      padding-bottom: 20px;
    }
}



 @media only screen and (max-width: 1279px) and (min-width: 786px) {

    .full {
      height:100vh;
    }

    html, body {
      height: 100vh;
      margin: 0px;
      width: 100vw;
    }

    #gradient{
        /* Rectangle: */
      background-image: linear-gradient(135deg, #1F2BFF 0%, #0F0D18 100%);
      height: 100%;
      overflow: hidden;
    }

    p, h1, h2, h3, h4, h5, h6, li {
      font-family: 'Source Sans Pro', sans-serif;
    }

    h1 {
      color: white;
      text-align: center;
      font-weight: 300;
      font-size: 50px;
      padding-top: 15%;
    }

    h2 {
      color: white;
    }

    h3 {
      color: white;
      font-size: 30px;
      font-weight: 700;
      padding-left: 10%;
    }

    h3#title-green {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 90px;
      font-weight: 500;
      text-align: center;
      color: #FFFFFF;
      padding-left: 0px;
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
    }

    h4#waste {
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 300;
      font-size: 50px;
      color: white;
      text-align: center;
      -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
    }

    h5 {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 100px;
      color: #FFFFFF;
      letter-spacing: 0;
      -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
        text-align: center;
    }

    h6 {
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 700;
      font-size: 20px;
      color: white;
      padding-left: 20%;
      -webkit-margin-before: 0px;
        -webkit-margin-after: 0px;
    }

    .left {
      max-width: 20%;
      float: left;
      padding-left: 0%;
    }

    .right {
      max-width: 20%;
      float: right;
      padding-right: 0%;
    }

    button {
      -webkit-border-radius: 8;
      -moz-border-radius: 8;
      border-radius: 8px;
      font-family: 'Source Sans Pro', sans-serif;
      color: #ffffff;
      font-weight: 600;
      font-size: 30px;
      padding: 10px 40px 10px 40px;
      border: solid #ffffff 2px;
      text-decoration: none;
      background-color: transparent;
      display: block;
      margin: 0 auto;
    }

    p#scroll {
        white-space: nowrap;
        position: relative;
        font-size: 80px;
        font-weight: 100;
        font-family: 'Source Sans Pro', sans-serif;
        color: white;
        padding-right: 20%;
      }

    .scrolling-words {
        overflow: hidden;
        height: 90px;
        padding-left: 10%;
        padding-top: 40px;
        text-align: center;
        margin: 0 auto;
      }

      .scrolling-words  p {
        margin: 0 0 30px;
        padding-top: 5px;
        white-space: nowrap;
        -webkit-animation: move 8s 1s infinite;
        -moz-animation: move 8s 1s infinite;
        -o-animation: move 8s 1s infinite;
        -ms-animation: move 8s 1s infinite;
        animation: move 8s 1s infinite;
        font-size: 43px;
        letter-spacing: 1px;
      }

      @-moz-keyframes move {
        0%  { top:  0px;   }
        25% { top: -160px;  }
        50% { top: -280px; }
        75% { top: -430px; }
        100% { top: -0px; }
      }

      @-o-keyframes move {
        0%  { top:  0px;   }
        25% { top: -160px;  }
        50% { top: -280px; }
        75% { top: -430px; }
        100% { top: -0px; }
      }

     @-ms-keyframes move {
        0%  { top:  0px;   }
        25% { top: -160px;  }
        50% { top: -280px; }
        75% { top: -430px; }
        100% { top: -0px; }
      }

      @-webkit-keyframes move {
        0%  { top:  0px;   }
        25% { top: -160px;  }
        50% { top: -280px; }
        75% { top: -430px; }
        100% { top: -0px; }
      }

      @keyframes move {
        0%  { top:  0px;   }
        25% { top: -160px;  }
        50% { top: -280px; }
        75% { top: -430px; }
        100% { top: -0px; }
      }

    .head {
      padding-top: 80px;
      text-align: center;
      margin:0;
    }

    p {
      font-size: 20px;
        font-weight: 100;
        font-family: 'Source Sans Pro', sans-serif;
        color: white;
        margin: 0 auto;
        padding-left: 10%;
    }

    p.text {
      padding-right: 10%;
    }

    #baby  {
      background-image: url('../assets/BG.png');
      background-size: cover;
      width: 100%;
      height: 100%;
    }

    #green {
      background-image: linear-gradient(135deg, #1DCFA3 0%, #1DCFA3 28%, #86CF1D 100%);
    }

    #blue {
      background: #48B3D3;
    }

    .content-input {
      position: relative;
      margin-bottom: 10px;
    }

    .preinput{
      color: #333232;
      font-size: 18px;
      padding: 0 10px;
      position: absolute;
      top: 50%;
      z-index: 1;
      left: 0;
      transform: translateY(-50%);
    }


    .donate-amount {
       height: 40px;
       font-size: 24px;
       color: #0d5cb6;
       font-family: 'Source Sans Pro', sans-serif;
    }

    .feedback-input {
      color:white;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight:500;
      font-size: 18px;
      border-radius: 5px;
      line-height: 22px;
      background-color: transparent;
      border:2px solid white;
      transition: all 0.3s;
      padding: 13px;
      margin-bottom: 15px;
      width:100%;
      box-sizing: border-box;
      outline:0;
    }

    ::-webkit-input-placeholder {
      color: white;
    }

    [type="submit"] {
      font-family: 'Source Sans Pro', sans-serif;
      width: 100%;
      background:white;
      border: 2px solid white;
      cursor:pointer;
      color: #48B3D3;
      font-size:18px;
      padding-top:10px;
      padding-bottom:10px;
      transition: all 0.3s;
      margin-top:-4px;
      font-weight:700;
      border-radius: 5px;
    }
    [type="submit"]:hover { 
      background:white;
      border: 2px solid white;
      border-radius: 5px;
      }

    h6#no-space {
      padding-left: 0;
    }

    p#list-ben {
      line-height: 30px;
      padding-left: 0;
    }

    #donate {
      float: left;
      padding-left: 10%;
    }

    .feedback-input-amount {
      color:white;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight:500;
      font-size: 18px;
      border-radius: 5px;
      line-height: 22px;
      background-color: transparent;
      border:2px solid white;
      transition: all 0.3s;
      padding: 13px;
      width:25%;
      box-sizing: border-box;
      outline:0;
      text-align: center;
      align-items: center;
    }

    #donate-btn {
      font-family: 'Source Sans Pro', sans-serif;
      width: 50%;
      background:white;
      border: 2px solid white;
      cursor:pointer;
      color: #48B3D3;
      font-size:18px;
      transition: all 0.3s;
      font-weight:700;
      border-radius: 5px;
    }

    #left-help {

    }

    #contact-right {
      max-width: 33%;
      float: right;
      padding-right: 10%;
    }

    #scrolldown {
      bottom: 40px;
      height: 100px;
      margin-left: -50px;
      position: absolute;
      left: 50%;
      text-align: center;
      width: 100px;
      z-index: 100;
    }
    #scrolldown p {
      font-family: 'Source Sans Pro', sans-serif;
      animation-duration: 2s;
      animation-fill-mode: both;
      animation-iteration-count: infinite;
      animation-name: scroll;
      color: #fff;
    }
    #scrolldown > p {
      text-transform: uppercase;
      text-indent: 3px;
    }
    .mouse {
      border: 2px solid #fff;
      border-radius: 13px;
      display: block;
      height: 46px;
      left: 50%;
      margin: 10px 0 0 -13px;
      position: absolute;
      width: 26px;
    }
    .mouse span {
      display: block;
      font-size: 1.5em;
      margin: 6px;
      padding-right: 7px;
    }
    @keyframes scroll {
      0% {
        opacity: 1;
        transform: translateY(0px);
      }
      100% {
        opacity: 0;
        transform: translateY(10px);
      }
    }

    #right-help {
      max-width: 33%;
      float: right;
      padding-right: 19%;
    }

    #left-help {
      max-width: 35%;
      float: left;
      padding-left: 13%;
    }

    #title-green {
      padding-top: 20px;
      padding-bottom: 20px;
    }
}



 @media only screen and (max-width: 2000px) and (min-width: 1280px) {

    .full {
    	height:100vh;
    }

    html, body {
    	height: 100vh;
    	margin: 0px;
    	width: 100vw;
    }

    #gradient{
    		/* Rectangle: */
    	background-image: linear-gradient(135deg, #1F2BFF 0%, #0F0D18 100%);
    	height: 100%;
    	overflow: hidden;
    }

    p, h1, h2, h3, h4, h5, h6, li {
    	font-family: 'Source Sans Pro', sans-serif;
    }

    h1 {
    	color: white;
    	text-align: center;
    	font-weight: 300;
    	font-size: 50px;
    	padding-top: 15%;
    }

    h2 {
    	color: white;
    }

    h3 {
    	color: white;
    	font-size: 30px;
    	font-weight: 700;
    	padding-left: 20%;
    }

    h3#title-green {
    	font-family: 'Source Sans Pro', sans-serif;
    	font-size: 90px;
    	font-weight: 500;
    	text-align: center;
    	color: #FFFFFF;
    	padding-left: 0px;
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
    }

    h4#waste {
    	font-family: 'Source Sans Pro', sans-serif;
    	font-weight: 300;
    	font-size: 50px;
    	color: white;
    	text-align: center;
    	-webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
    }

    h5 {
    	font-family: 'Source Sans Pro', sans-serif;
    	font-size: 100px;
    	color: #FFFFFF;
    	letter-spacing: 0;
    	-webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
        text-align: center;
    }

    h6 {
    	font-family: 'Source Sans Pro', sans-serif;
    	font-weight: 700;
    	font-size: 20px;
    	color: white;
    	padding-left: 20%;
    	-webkit-margin-before: 0px;
        -webkit-margin-after: 0px;
    }

    .left {
    	max-width: 35%;
    	float: left;
    	padding-left: 13%;
    }

    #left-help {
      max-width: 35%;
      float: left;
      padding-left: 13%;
    }

    .right {
    	max-width: 33%;
    	float: right;
    	padding-right: 19%;
    }

    #right-help {
      max-width: 33%;
      float: right;
      padding-right: 19%;
    }

    button {
      -webkit-border-radius: 8;
      -moz-border-radius: 8;
      border-radius: 8px;
      font-family: 'Source Sans Pro', sans-serif;
      color: #ffffff;
      font-weight: 600;
      font-size: 30px;
      padding: 10px 40px 10px 40px;
      border: solid #ffffff 2px;
      text-decoration: none;
      background-color: transparent;
      display: block;
      margin: 0 auto;
    }

    p#scroll {
        white-space: nowrap;
        position: relative;
        font-size: 80px;
        font-weight: 100;
        font-family: 'Source Sans Pro', sans-serif;
        color: white;
        padding-left: 10%;
        padding-right: 10%;
      }

    .scrolling-words {
        overflow: hidden;
        height: 90px;
        padding-left: 15px;
        padding-top: 40px;
        text-align: center;
        margin: 0 auto;
      }

      .scrolling-words  p {
        margin: 0 0 30px;
        padding-top: 5px;
        white-space: nowrap;
        -webkit-animation: move 8s 1s infinite;
        -moz-animation: move 8s 1s infinite;
        -o-animation: move 8s 1s infinite;
        -ms-animation: move 8s 1s infinite;
        animation: move 8s 1s infinite;
        font-size: 43px;
        letter-spacing: 1px;
      }

      @-moz-keyframes move {
        0%  { top:  0px;   }
        25% { top: -160px;  }
        50% { top: -280px; }
        75% { top: -430px; }
        100% { top: -0px; }
      }

      @-o-keyframes move {
        0%  { top:  0px;   }
        25% { top: -160px;  }
        50% { top: -280px; }
        75% { top: -430px; }
        100% { top: -0px; }
      }

     @-ms-keyframes move {
        0%  { top:  0px;   }
        25% { top: -160px;  }
        50% { top: -280px; }
        75% { top: -430px; }
        100% { top: -0px; }
      }

      @-webkit-keyframes move {
        0%  { top:  0px;   }
        25% { top: -160px;  }
        50% { top: -280px; }
        75% { top: -430px; }
        100% { top: -0px; }
      }

      @keyframes move {
        0%  { top:  0px;   }
        25% { top: -160px;  }
        50% { top: -280px; }
        75% { top: -430px; }
        100% { top: -0px; }
      }

    .head {
    	padding-top: 80px;
    	text-align: center;
    	margin:0;
    }

    p {
    	font-size: 20px;
        font-weight: 100;
        font-family: 'Source Sans Pro', sans-serif;
        color: white;
        margin: 0 auto;
        padding-left: 20%;
        padding-right: 20%;
    }

    #baby  {
    	background-image: url('../assets/BG.png');
    	background-size: cover;
    	width: 100%;
    	height: 100%;
    }

    #green {
      background-image: linear-gradient(135deg, #1DCFA3 0%, #1DCFA3 28%, #86CF1D 100%);
    }

    #blue {
      background: #48B3D3;
    }

    .content-input {
      position: relative;
      margin-bottom: 10px;
    }

    .preinput{
      color: #333232;
      font-size: 18px;
      padding: 0 10px;
      position: absolute;
      top: 50%;
      z-index: 1;
      left: 0;
      transform: translateY(-50%);
    }


    .donate-amount {
       height: 40px;
       font-size: 24px;
       color: #0d5cb6;
       font-family: 'Source Sans Pro', sans-serif;
    }

    .feedback-input {
      color:white;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight:500;
      font-size: 18px;
      border-radius: 5px;
      line-height: 22px;
      background-color: transparent;
      border:2px solid white;
      transition: all 0.3s;
      padding: 13px;
      margin-bottom: 15px;
      width:100%;
      box-sizing: border-box;
      outline:0;
    }

    ::-webkit-input-placeholder {
    	color: white;
    }

    [type="submit"] {
      font-family: 'Source Sans Pro', sans-serif;
      width: 100%;
      background:white;
      border: 2px solid white;
      cursor:pointer;
      color: #48B3D3;
      font-size:18px;
      padding-top:10px;
      padding-bottom:10px;
      transition: all 0.3s;
      margin-top:-4px;
      font-weight:700;
      border-radius: 5px;
    }
    [type="submit"]:hover { 
    	background:white;
    	border: 2px solid white;
    	border-radius: 5px;
    	}

    h6#no-space {
    	padding-left: 0;
    }

    p#list-ben {
    	line-height: 30px;
    	padding-left: 0;
    }

    #donate {
    	float: left;
    	padding-left: 20%
    }

    .feedback-input-amount {
      color:white;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight:500;
      font-size: 18px;
      border-radius: 5px;
      line-height: 22px;
      background-color: transparent;
      border:2px solid white;
      transition: all 0.3s;
      padding: 13px;
      width:25%;
      box-sizing: border-box;
      outline:0;
      text-align: center;
      align-items: center;
    }

    #donate-btn {
      font-family: 'Source Sans Pro', sans-serif;
      width: 50%;
      background:white;
      border: 2px solid white;
      cursor:pointer;
      color: #48B3D3;
      font-size:18px;
      transition: all 0.3s;
      font-weight:700;
      border-radius: 5px;
    }

    #contact-right {
    	max-width: 33%;
    	float: right;
    	padding-right: 19%;
    }

    #scrolldown {
      bottom: 40px;
      height: 100px;
      margin-left: -50px;
      position: absolute;
      left: 50%;
      text-align: center;
      width: 100px;
      z-index: 100;
    }
    #scrolldown p {
      font-family: 'Source Sans Pro', sans-serif;
      animation-duration: 2s;
      animation-fill-mode: both;
      animation-iteration-count: infinite;
      animation-name: scroll;
      color: #fff;
    }
    #scrolldown > p {
      text-transform: uppercase;
      text-indent: 3px;
    }
    .mouse {
      border: 2px solid #fff;
      border-radius: 13px;
      display: block;
      height: 46px;
      left: 50%;
      margin: 10px 0 0 -13px;
      position: absolute;
      width: 26px;
    }
    .mouse span {
      display: block;
      font-size: 1.5em;
      margin: 6px;
      padding-right: 7px;
    }
    @keyframes scroll {
      0% {
        opacity: 1;
        transform: translateY(0px);
      }
      100% {
        opacity: 0;
        transform: translateY(10px);
      }
    }
}